<ion-view title="Badminton" id="page8">
	<ion-nav-buttons side="left">
	    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
	        <i class="icon ion-ios-arrow-back"> Back</i> 
	    </button>
	</ion-nav-buttons>
	 <ion-content padding="true" style="background: url(img/2.jpg) no-repeat 
		    center center fixed;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    -o-background-size: cover;
		    background-size: cover;" scroll="true" class="has-header">
		<div class="card">
			<div class="item item-text-wrap">
				<p> Here are some Facts about Badminton that you may not know yet and may find it interesting. <br />

				- The official game of Badminton was born in a &nbsp;&nbsp;&nbsp;stately home in Gloucestershire, England, home &nbsp;&nbsp;&nbsp;of the Duke of Beaufort. <br />

				- Badminton is the Fastest Racket Sport with &nbsp;&nbsp;&nbsp;shuttle clocking speed in excess of 200 mph. <br />

				- The best shuttlecocks are made from the &nbsp;&nbsp;&nbsp;feathers from the left wing of a goose. <br />

				- The International Badminton Federation (IBF) &nbsp;&nbsp;&nbsp;was founded in 1934 with nine members and &nbsp;&nbsp;&nbsp;now has over 150 members. <br />

				- The IBF is now headquartered in Kuala Lumpur, &nbsp;&nbsp;&nbsp;Malaysia. <br />

				- Badminton was introduced into USA in the &nbsp;&nbsp;&nbsp;1890s and became popular in the 1930s. <br />

				- Badminton is the second most popular sport in &nbsp;&nbsp;&nbsp;the world, after soccer. </p>
			</div>
			<a href="https://en.wikipedia.org/wiki/Badminton" class="button button-clear button-positive">>>>>Click here!For more info about Badminton.<<<<</a>
			<div ui-sref="menu.informativeSection" id="info-button15" class="button button-positive  button-block"> < back </div>
		</div>
	</ion-content>
</ion-view>