<ion-view title="Book Court" id="page14">
    <ion-content padding="true" style="background: url(img/abc.jpg) no-repeat 
            center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Sports</span>
                <select id="sport" name="sport" ng-model="data.sport" onchange ="populate_facid(this.id,'facid')"; >
                    <option value=""></option>
                    <option value="Futsal">Futsal</option>
                    <option value="Badminton">Badminton</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Sport ID</span>
                <select id="facid" name="facid" ng-model="data.facid" onchange ="populate(this.id,'Court')"; >
                </select>
            </label>
            <label class="item item-select">
             <span class="input-label">Court</span>
                <select id="Court" name="Court" ng-model="data.court">
            </select>
            </label>
            <label class="item item-input">
             <span class="input-label">Date</span>
             <input id="date" name="date" type="date" ng-model="data.date"></input>
            </label>
            <label class="item item-select">
             <span class="select-label">From Time</span>
             <select id="Time" name="Time" ng-model="data.timefrom" onchange="populate_time(this.id,'Time2')">
                    <option value="15:00:00">3 PM</option>
                    <option value="16:00:00">4 PM</option>
                    <option value="17:00:00">5 PM</option>
                    <option value="18:00:00">6 PM</option>
                    <option value="19:00:00">7 PM</option>
                    <option value="20:00:00">8 PM</option>
             </select>
            </label>
            <label class="item item-select">
             <span class="input-label">To Time</span>
             <select id="Time2" name="Time2" ng-model="data.timeto">
             </select>
            </label>
            <label class="item item-input">
             <span class="input-label">Reason/Event Name</span>
             <input id="event" name="event" type="text" ng-model="data.event"></input>
            </label>
            <button ng-click="book()" class="button button-block button-positive activated">
                Book
            </button>
            <a href="#/details" class="button button-block button-positive activated">
                Booking Details
            </a>
        </form>
    </ion-content>
</ion-view>

 