<ion-view title="Informative Section" id="page12">
    <ion-content padding="true" style="background: url(img/2.jpg) no-repeat 
            center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;" scroll="false" class="has-header">
            <div class="spacer" style="width: 300px; height: 54px;"></div>
    	<div class="card">
    		<a href="#/fInfo" class="item item-image" style="background:#34495E;" >
    			<img src="img/ball.jpg" alt="Image" style="height: 300px"> 
    			FUTSAL INFO
    		</a>
    	</div>
    	<div class="card">
    		<a href="#/bInfo" class="item item-image" style="background:#34495E">
    			<img src="img/shuttle.jpg" alt="Image">
    			BADMINTON INFO
    		</a>
    	</div>
    </ion-content>
</ion-view>