<ion-view title="View Schedule" style="background-color:#4169E1;">
  <ion-content padding="true" style="background: url(img/2.jpg) no-repeat 
  center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;" class="has-header">

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search by Date (yyyy-mm-dd)" ng-model="form.searchDate" ng-change="onChange()">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>

    <div> 
        <div ng-show="searchPresents" class="card" ng-repeat="bookDetailed in bookDetails | filter:form.searchDate">
          <div class="item item-text-wrap">
            Sport : {{ bookDetailed.sport }} | Court : {{ bookDetailed.court }}
          </div>
          <div class="item item-text-wrap">
            Matric No. : {{ bookDetailed.matricno }}
          </div>
          <div class="item item-text-wrap">
            DateTime : {{ bookDetailed.date }} | {{ bookDetailed.timefrom }}-{{ bookDetailed.timeto }}
          </div>
          <div class="item item-text-wrap">
            Status : {{ bookDetailed.status }}
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>